
// @font-face {
//   font-family: 'TimberWolf-Regular';
//   src: url('../assets/fonts/TimberWolf-Regular.woff') format('woff');
//   font-weight: normal;
//   font-style: normal;
//   font-display: swap;
// }



.box-shadow {-webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);}

* {box-sizing: border-box; scroll-behavior: smooth; margin: 0; padding: 0; overflow-x: hidden;}

body {

  font-family: museo-sans-rounded, sans-serif;
  font-size: 100%;
  font-weight: normal;
  background-size: cover;
  
}

h1 {
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  color: white;
  padding: 0; margin: 0; 

}

// HEADER / navigation
//####################################################################################################


.site-header {
  display: flex; 
  align-items: center;
  justify-content: space-between;
  background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.1) 10%, rgba(0,0,0,0.2) 50%, rgba(0,0,0,0.1) 90%, rgba(0,0,0,0) 100%);
 background-size: cover; background-repeat: no-repeat;  background-position: bottom;
  padding: 2vh 2vw;
  height: 100px;
  width: 100vw;
  z-index: 3;
}

.site-navigation-container {border: 2px solid yellow;}

#header-logo {height: 80px; width: auto;}
#header-logo:hover {transform: scale(1.05)}
// .site-navigation { }

.site-navigation-list {
  display: inline-block;
  text-align: right;
  width: 100%;
}

.site-navigation-item {
  display: inline-flex;
  margin: 0 0 0 10px;
  justify-content: space-evenly;
  align-self: right;

  a {
    color: #F8FAFA;
    text-decoration: none;
    text-shadow: #111;
    margin: 5px;
    font-size:  18px;
    text-transform: uppercase;

    &:hover {
      color: #F9E6C8;
      transform: scale(1.05);
    }
  }

  &.active-link > a {
    padding: 20px 0px;
    color: #EEBF70;
    background-image: url("../assets/textured-underline.svg");
    background-size: 100% 100%; background-repeat: no-repeat;  background-position: bottom;
    
  }

}



// FEATURED PROJECT COLLECTION 
//####################################################################################################
.project-iframe {
  width: 100vw; height: 95vh; border: 3px solid lime; position: absolute; display: flex; align-items: center; justify-content: center; top: 0; left: 0; background: rgba(1,255,255,0.2); z-index: -2;
}
.project-interactives {width: 100vw; height: calc(95vh - 100px);  border: 10px solid orange;}
.project-info {width: 100%; height: 45%; border: 2px solid lime; display: inline-flex; justify-content: space-between; align-items: flex-end}

.toggle-bar {width: 100%; height: 50%; border: 2px solid magenta; display: inline-flex; justify-content: space-between; align-items: flex-end;}
.toggle-counter {border: 2px solid blue; width: 25%; height: 100%; display: inline-flex; align-items: flex-end}


.project-details {border: 2px solid teal; width: 75%; height: 100%; display: inline-flex; align-items: flex-end}


.homepage-wrapper {position: relative; top: 0; left: 0; width: 100vw; height: 100vh;  border: 3px solid lime;}
.featured-wrapper {width: 100%; position: relative; height: 100%; border: 2px solid aqua; top: 0; left: 0; margin: 0; padding: 0; z-index: -5;}
.slide-video {border: 9px solid yellow; width: 100%; height: 100%; left: 0; top: 0; z-index: -2;}
.featured-info {width: 100%;  bottom: 10%; background: orange; z-index: 20;}

.embed-container {
  position: relative;
  top: 0;
  height: 100%;
  overflow: hidden;
  background-repeat: no-repeat; 
  background-size: cover;
  // transform: scale(2);  
}

  .embed-container iframe,
  .embed-container object,
  .embed-container embed {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100%;
      overflow: hidden!important;
      // transform: scale(1.76);
  }


  // ABOUT SUMMARY 
  // ##############################

  .about-summary {
    width: 100vw;  background: red;
  }

  // FOOTERS 
  // ##############################

  footer {width: 100vw; height: 400px; position: relative; background:pink;}


