
// ////////////

// .case-study-nav {width: 100%; height: 75px; display: flex; align-items: center; justify-content: center; z-index: 9; padding: 0px 25px;}
// .case-study-nav span {width: 50%;  display: flex; align-items: center;}
// .case-study-nav span img {height: 50px; width: auto;}
// .circle-button-blue { margin: 5px; width: 60px; height: 60px; display: block; background-color: transparent; background-image: url('../assets/blue-textured-circle-close.svg'); background-repeat: no-repeat; background-size: contain; background-position: 50% 50%;color: white;}







// .summary-title:hover {cursor: pointer;}




// #homepage-about-text {margin-top: 25px;}
// #homepage-about-text p {color: black!important;}
// .tan-smudge {  background-color: transparent!important; background-image: url('../assets/shapes/tan-smudge.png'); background-size: 100% 100%; }

// .container-holder {width: 100vw; border: 3px solid red; display: inline-flex; align-items: center; justify-content: center;}



// #brand-logo {width: 200px; transform: rotate(15deg); margin-top: 100px; height: 200px; background-image: url('../assets/shapes/tan-textured-circle.svg'); background-position: center center; }









// .case-study-toggle-arrow { background-image: url('../assets/yellow-textured-circle.svg');  background-size: contain; background-position: center center; background-repeat: no-repeat; width: 75px; height: 75px; margin: 0 25px 0 25px;  display: flex; align-items: center; justify-content: center;}


// .paragraph p{font-size: 1.25rem; line-height: 2rem; border: 2px solid red;}

  

// #next-slide {background-image: url('../assets/textured-strip.png'); background-size: 100% 100%; background-position: top right; position: absolute; top: 0; right: 0; height: 95vh; width: 40px; z-index: 5;  display: flex; align-items: center; justify-content: center;}
// #slide-arrow {margin-left: 10px; width: 15px;}
// #next-slide:hover {background-size: 105% 105%; cursor: pointer;}

// #next-slide:hover > img {transform: scale(1.1)}

//   #project-counter { width: 100vw; padding: 0px 35px; position: absolute; bottom: 5vh; left: 0;  height: 50px; display: inline-flex; align-items: center; justify-content: flex-end;
//     .counter { margin: 0 10px; height: 20px; width: 20px; z-index: 9; background-image: url("../assets/shapes/tan-textured-circle.svg"); background-size: contain; background-position: center center; }
//   }

 
// #scroll-down-arrow {transform: rotate(90deg); padding: 15px;}





// @media only screen and (max-width: 1000px) {
 
//   body {width: 100vw; overflow-x: hidden!important;}
//   html {width: 100vw!important; overflow-x: hidden!important;}
//   .contact-floating-container {display: block; width: 100vw; }
//   .contact-floating-container-left {width: 100vw;}
//   #contact-title-1 {font-size: 36px;}
//   #contact-title-2 {font-size: 42px;} 
//   .contact-floating-container-right {width: 100vw; margin-top: 25px; }
//   #map-holder {width: 100%; margin: -190px 0 0 0%; align-items: center; justify-content: center;}
//   #map-holder img {width: 110%;}
//   .contact-card:hover {transform: rotate(15deg)}
//   #contact-card-holder {overflow-x: hidden; justify-content: center;}
//   #map-holder-address {display: block;}
  
//   .blue-text-shadow {font-size: 2rem;}
//   .padding-control {padding: 25px; }
//   .bold-paragraph p {font-size: 1.25em; line-height: 1.65em; }

//   #select-partners .sqs-gallery-block-grid {display: block!important;}
//   .container-holder {display: block}
//   .container-half {width: 100%;}
// }

// .container-half {height: 100%;}
// .image-title p{font-family: 'TimberWolf-Regular', serif!important; letter-spacing: 2px!important; font-size: 48px;}
// .image-subtitle p{ font-family: museo-sans-rounded, sans-serif!important; color: black!important;}

